body{
	padding: 5px 5px 5px 5px;
    background-color:#07141C;
    border-radius:10px;
    border: solid 5px #2E3136;
    display:block;
    margin:0;
    font-family:Helvetica, sans-serif;
    color:white;
    font-size:14px;
}
img{
	max-width: 500px;
	max-height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h3{
	margin:0 0 5px 0;
    padding:0;
    font-weight:normal;
    color: white;
}
input[type="submit"]{
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: 3px 0 3px 0;
    padding: 5px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    text-align: center; /* DELETE WHEN WIDTH AUTO */
    background: none repeat scroll 0 0 rgba(255,255,255,.2);
    color: white;
}
input[type="submit"]:hover {
    background: none repeat scroll 0 0 #495261;
    color: white;
    box-shadow: 0 0 5px 1px #969696;
}
input[type="submit"]:target, input[type="submit"]:active {
    background: none repeat scroll 0 0 #0C95F5;
    color: white;
    box-shadow: 0 0 5px 1px #969696;
}
textarea, input[type="text"]{
    height:30px;
    width: 400px;
    font-size: 12px;
    font-family: sans-serif;
    background-color:#2E3136;
    box-shadow: none;
    border-radius: 0;
    border: solid 1px #dcdcdc;
    transition: all .4s ease;
    resize: none;
    margin-top: -5px;
    margin-bottom: 5px;
}  
textarea:focus{
    background-color:white;
    height:100px;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
input[type="text"]:focus{
    background-color:white;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
/*
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: xx-large;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}
*/