body{
	margin:0;
    font-family:Helvetica, sans-serif;
    color:white;
    font-size:14px;
    min-width:202px;
    background-color:#07141C;
    border-radius:10px;
    height:100%;
    border: solid 5px #2E3136;
    padding: 15px 10px 15px 10px;
}
a{
	color:#0C95F5;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
h3{
	margin:0 0 5px 0;
    padding:0;
    font-weight:normal;
    color: white;
    width:100%;
}
input[type="submit"] {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: 3px 0 3px 0;
    padding: 5px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    text-align: center; /* DELETE WHEN WIDTH AUTO */
    background: none repeat scroll 0 0 rgba(255,255,255,.2);
    color: white;
}
input[type="submit"]:hover {
    background: none repeat scroll 0 0 #495261;
    color: white;
    box-shadow: 0 0 5px 1px #969696;
}
input[type="submit"]:target, input[type="submit"]:active {
    background: none repeat scroll 0 0 #0C95F5;
    color: white;
    box-shadow: 0 0 5px 1px #969696;
}
input[type="text"], input[type="password"]{
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 0;
    border: solid 1px #dcdcdc;
    transition: all .4s ease;
    margin: 5px 0 5px 0;
}    
input[type="text"]:focus, input[type="password"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
h4{
	color: red;
	display: none;
}