body{margin:0;
    font-family:Helvetica, sans-serif;
    color:white;
    font-size:14px;
    background-color:#081A26;}
a{
  color:#0C95F5;
  text-decoration:none;
}
.trending-title > h4 > a{
  color:#E5E5E5;
}
a>img{
  margin:0;
  padding:0;
}
a:hover{
  text-decoration:underline;
}
    aside.login {
      margin-left:20px;
      min-width:200px;
      background-color:#07141C;
      border-radius:10px;
      height:100%;
      border: solid 5px #2E3136;
      padding: 15px 10px 15px 10px;
    }
    header.login {
      display:flex;
      margin:auto;
      width:1190px;
      
    }
    section.login {
      display:flex;
      height:100%;
      
      max-width:915px;
      
      min-width:480px;
      
      flex-wrap:wrap;
      background-color:#2E3136;
      border-radius:10px;
      padding: 15px 15px 15px 15px;
    }
    h2, h3{
      
      margin:0 0 5px 0;
      
      padding:0;
      font-weight:normal;
      color: white;
    }
    h2{
      text-align:center;
    }
    div.landing{
      display:flex;
      margin:auto;
      
      max-height:325px;
      max-width:1190px;
      
    }
    div.landing-container{
      
      margin:auto;
      
   
      
      
    }

    div.heading{
      display:flex; max-width:100%; max-height:50px; padding: 15px 10px 15px 10px;
    background: rgb(7,20,28); /* Old browsers */
background: -moz-linear-gradient(top, rgba(7,20,28,1) 0%, rgba(8,26,38,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,20,28,1)), color-stop(100%,rgba(8,26,38,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(7,20,28,1) 0%,rgba(8,26,38,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(7,20,28,1) 0%,rgba(8,26,38,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(7,20,28,1) 0%,rgba(8,26,38,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(7,20,28,1) 0%,rgba(8,26,38,1) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#07141c", endColorstr="#081a26",GradientType=0 ); /* IE6-9 */
    }
    img.trending{
      width:100%;
      max-height:300px;
      margin-left:5px;
    }
    div.img-trending{
      max-width:915px;
      max-height:300px;
      min-width:480px;
      min-height:160px;
    
      
      padding: 13px 7px 13px 3px;
      display:flex;
    }
    div.clear{
      clear: both;
    }
    header.trending{
      
      width:100%;
    }
    header.login-container{
      
      
      width:100%;
    }
  
    input[type="submit"] {
      border: 0 none;
      border-radius: 2px 2px 2px 2px;
      color: #FFFFFF;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      margin: 3px 0 3px 0;
      padding: 5px 10px;
      text-transform: none;
      transition: all 0.3s ease 0s;
      text-align: center; /* DELETE WHEN WIDTH AUTO */
      background: none repeat scroll 0 0 rgba(255,255,255,.2);
      color: white;
    }
    input[type="submit"]:hover {
      background: none repeat scroll 0 0 #495261;
      color: white;
      box-shadow: 0 0 5px 1px #969696;
    }
    input[type="submit"]:target, input[type="submit"]:active {
      background: none repeat scroll 0 0 #0C95F5;
      color: white;
      box-shadow: 0 0 5px 1px #969696;
    }
    input.search {
      background:#FFFFFF url(search_ico.png) no-repeat 4px 4px;
      padding:4px 4px 4px 25px;
      width:50%;
      height:18px;
      font-size: 14px;
    }
    input.search {
      font-family: sans-serif;
      margin-top:3px;
      box-shadow: none;
      border-radius: 0;
      border: solid 1px #dcdcdc;
      transition: all .4s ease;
    }  
    input.search:focus {
      width:100%;
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
    }
    
    input[type="text"], input[type="password"]{
      font-size: 14px;
      font-family: sans-serif;
      border-radius: 0;
      border: solid 1px #dcdcdc;
      transition: all .4s ease;
      margin: 5px 0 5px 0;
    }
    
    input[type="text"]:focus, input[type="password"]:focus {
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
    }
    
    div.search-login{
      
      padding-right:35px;
      width:100%;
      margin-right:254px;
    }
    div.header-logo{
      padding-right:20px;
      min-width:200px;
    }
    div.login-container{
      
    }
 a.footer{
      color:white;
      
    }

     a.footer:hover{
      
      text-decoration:none !important;
    }
#common-footer{
      display:flex;
      
      margin: 70px auto 0 auto;
      padding: 24px 0 17px 0px;
      max-width:1190px;
      min-width:480px;
    }
    ul.footer{
      display: flex; list-style-type: none; margin:0; width:100%;padding:0;
    }
    li.footer{
      margin: 0 0 0 5px; text-align:center;min-width:50px;max-height:22px;padding:5px 10px 5px 10px; border-radius:5px;
    }
    li.footer:hover{
      background-color:#495261;
      transition: all .2s ease;
    }
    #footer-left{
      margin:0px 10px 0px 0px;
      float:left;
      width:100%;
    }
    #footer-right{
      margin:0px 10px 0px 0px;
      white-space:nowrap;
      float:right;
    }