
#meme-view{
      background-color:#2E3136;
      border-radius:10px;
      display:none;
      /*display:flex;*/
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      border-radius:10px;
      padding: 15px 15px 15px 15px;
      max-width:100%;
      min-width:629px;
      box-shadow:0 0 10px rgba(0,0,0,.3);
}
.stretch-container{
  display:inline-block;
  padding:0;
}
.stretch-container img{
  display:block;
}

     /*img.gallerybox{
       max-width:65px;
       min-width:65px;
     }*/
    li.gallery{
       list-style-type:none;
       display:inline-block;
       width:65px;
       height:65px;
       margin:1px;
      overflow:hidden;
     }
      h2{
        padding:0 0 10px 0;
        margin:0;
      }
     .meme-title{
       width:100%;
       
     }
     h4.meme-title{
       padding: 6px 8px 5px 8px;
       border-radius:5px;
       background-color:#07141C;
     }
     .meme-container{
       display:flex;
       flex-wrap:wrap;
       padding: 0 15px 20px 15px;
       max-width: 975px; /* base 325px + (400px To be replaced with max image width if < 800px)  aka Javascript*/
       margin: 7px auto 0 auto;
       min-width: 325px;
     }
     div.comment-box{
       margin: 0 0px 0 0;
      width:100%;
      
      max-width:610px;
      min-width:200px;
       display:block;
       padding: 14px 0px 7px 0px;
       
     }
     header.comment-box{
       padding: 0px 0 10px 0;
     }
     article.comment-box{
       margin: 5px 0 5px 0;
       padding: 10px 10px 10px 10px;
       
       border-radius:10px;
       background-color:#07141C;
     }
     footer.comment-box{
       padding: 10px 10px 10px 10px;
       
       border-radius:10px;
       background-color:#07141C;
       display:block;
     }
     
     .gen-container{
       width:100%;
       justify-content:center;
       display:flex;
       
     }
    #memefield{
      margin: 0 0px 0 0;
      width:100%;
      
      max-width:610px;
      min-width:200px;
      
     }
     aside.gallerybox{
       min-width:253px;
       max-width:315px;
       display:block;
       
     }
     

     div.gallerybox{
       padding: 10px 10px 10px 10px;
       margin: 13px 0 0 10px;
       border-radius:10px;
       background-color:#07141C;
     }
     header.gallerybox{
       margin:0;
       padding: 0 0 15px 5px;
     }
     .gallerybox h3, .gallerybox h4{
       display:inline;
       margin:0;
     }
     ul.gallerybox{
       padding:0;
       margin:0 0 0 5px;
       max-height: 140px;
       overflow:auto;
     }
     img.meme-img-flex{
       max-width:590px;
       height:auto;
       
     }
     #meme-landing{
       display:flex;
       justify-content:center;
       flex-wrap:wrap;
     }
     div.meme-img-flex{
       display:inline-block;
       
       text-align:center;
       
       min-width:200px;
       background-color:#202225;
       padding:10px;
       border-radius:10px;
       max-width:600px;
  
       margin: 15px auto 15px auto
     }
    .meme-description{
      display:inline-block;
      -webkit-box-sizing : border-box;‌
    -moz-box-sizing : border-box;
    box-sizing : border-box;
      text-align:left;
      width:100%;
      min-width:200px;
      max-width:600px;
      padding: 6px 8px 5px 8px;
      margin: 6px 0 0px 0;
      border-radius:5px;
      
      background-color:#07141C;
    }
/* I'm aware the animation stuff throws errors on CSS validator..
 * I hate vendor tags just as much as you ... but it looks cool */
    @-webkit-keyframes myfirst 
    {
    0%   {box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);}
    33%   {box-shadow: 0 0 10px 1px rgba(255,255,255,0.7);}
    100%   {box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);}
    }
    @keyframes myfirst 
    {
    0%   {box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);}
    33%   {box-shadow: 0 0 10px 1px rgba(255,255,255,0.7);}
    100%   {box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);}
    }
    @-moz-keyframes myfirst 
    {
    0%   {box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);}
    33%   {box-shadow: 0 0 10px 1px rgba(255,255,255,0.7);}
    100%   {box-shadow: 0 0 5px 1px rgba(255,255,255,0.7);}
    }
     *[contenteditable="true"]{
       padding: 6px 8px 5px 8px;
       border-radius:5px;
       transition: all .4s ease;
       background-color:white; 
       animation:myfirst 1s;
  -moz-animation:myfirst 1s infinite;
-webkit-animation:myfirst 1s infinite; 
       
       color:#313131;
       cursor:text;
       font-style:oblique;
     }

     *[contenteditable="true"]:focus{
       color: black;
       background-color:white;
       animation: none;
       -moz-animation: none;
       -webkit-animation: none;
       box-shadow:none;
       font-style:normal;
     }
     div.meme-rating{
       padding: 5px 5px 5px 5px;
       display:flex;
       min-width:200px;
       max-width:600px;
       margin: 15px auto 0 auto;
       border-radius:10px;
       background-color:#07141C;
     }
     img.lower-button{
       margin: 0 10px 0 0;
     }
     div.progress-flex{
       display:flex;
       width:100%;
     }
     progress.meme-rating{
       width:100%;
       margin: 10px 0 0 0;
       vertical-align:bottom;
     }
     
     div.comment{
       padding: 3px 0 3px 0;
       width:100%;
       
       display:inline-block;
     }
    .comment-container{
       width:100%;
       border-radius:10px;
       background-color:#2E3136;
       display:flex;
       border: solid 2px #2E3136;
       padding: 5px 0 5px 0;
       margin: 5px 0 5px 0;
       text-align:left;
     }
     footer.comment{
       margin: 5px 0 6px 0;
       padding: 0 0 0 15px;
       
     }
     article.comment-img{
       margin: 0 0 0 5px;
       max-width:40px;
       max-height:40px;
      
     }
     aside.comment-body{
       margin: 0 0 0 4px;
       padding: 0 0 0 4px;
     }
     h3.comment-new{
       width:100%;
       padding: 0px 0 10px 0;
       display:block;
       order:1;
       text-align:left;
     }
     textarea.comment-new {
     
      height:30px;
      width:100%;
      height:100px;
      font-size: 12px;
      font-family: sans-serif;
      background-color:#2E3136;
      box-shadow: none;
      border-radius: 0;
      border: solid 1px #dcdcdc;
      transition: all .4s ease;
      resize: none;
    }  
    textarea.comment-new:focus {
      background-color:white;
      
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
    }
     article.comment-new{
       
       width:100%;
     }
     aside.comment-new{
       padding: 0 40px 0 10px;
       width:100px;
     }
     div.comment-new{
       width:100%;
       order:2;
       display:flex;
       padding: 0 10px 0 10px;
     }
     button {
      border: 0 none;
      border-radius: 2px 2px 2px 2px;
      color: #FFFFFF;
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      padding: 5px 10px;
      text-transform: none;
      transition: all 0.3s ease 0s;
      text-align: center; /* DELETE WHEN WIDTH AUTO */
      background: none repeat scroll 0 0 rgba(255,255,255,.2);
      color: white;
    }
    button:hover {
      background: none repeat scroll 0 0 #495261;
      color: white;
      box-shadow: 0 0 5px 1px #969696;
    }
    button:target, button:active {
      background: none repeat scroll 0 0 #0C95F5;
      color: white;
      box-shadow: 0 0 5px 1px #969696;
    }
     button.comment-new{
       width:100px;
     }
    a.comment-reference{
      color:#34FA00;
    }
    .upvote-button {
      padding:2px;
   margin: 5px 6px 4px 6px;
  width:14px;
  height:14px;
  background: url('sprites/upvote.png') no-repeat;
}
.upvote-button:hover{
  background: url('sprites/upvote_hover.png') no-repeat;
}
div.upvote-button:active{
  background: url('sprites/upvote_selected.png') no-repeat;
}
.downvote-button{
  padding:2px;
  margin: 5px 6px 4px 6px;
  width:14px;
  height:14px;
  background: url('sprites/downvote.png') no-repeat;
}
.downvote-button:hover{
  background: url('sprites/downvote_hover.png') no-repeat;
}
div.downvote-button:active{
  background: url('sprites/downvote_selected.png') no-repeat;
}
.favorite-button {
  padding:2px;
  margin: 5px 6px 4px 6px;
  width:14px;
  height:14px;
  background: url('sprites/favorite.png') no-repeat;
  background-position: -1px -1px;
}
.favorite-button:hover{
  background: url('sprites/favorite_hover.png') no-repeat;
  background-position: -1px -1px;
}
div.favorite-button:active{
  background: url('sprites/favorite_selected.png') no-repeat;
  background-position: -1px -1px;
}

.edit-button {
  padding:2px;
  display:none;
  margin: 6px 6px 4px 6px;
  width:14px;
  height:14px;
  background: url('sprites/edit.png') no-repeat;
  background-position: -1px -1px;
}
.edit-button:hover{
  background: url('sprites/edit_hover.png') no-repeat;
  background-position: -1px -1px;
}
div.edit-button:active {
  background: url('sprites/edit_selected.png') no-repeat;
  background-position: -1px -1px;
}
.edit-button-selected{ 
  background: url('sprites/edit_hover.png') no-repeat;
  background-position: -1px -1px;
}

.pub-button-public {
  padding:2px;
  display:none;
  margin: 4px 7px 4px 10px;
  width:28px;
  height:14px;
  background: url('sprites/public.png') no-repeat;
  background-position: 0px -1px;
}
.pub-button-public:hover{
  background: url('sprites/non-public_hover.png') no-repeat;
  background-position: 0px -1px;
}
div.pub-button-public:active {
  background: url('sprites/non-public_selected.png') no-repeat;
  background-position: 0px -1px;
}
.pub-button-private {
  padding:2px;
  display:none;
  margin: 4px 7px 4px 10px;
  width:28px;
  height:14px;
  background: url('sprites/non-public.png') no-repeat;
  background-position: 0px -1px;
}
.pub-button-private:hover{
  background: url('sprites/public_hover.png') no-repeat;
  background-position: 0px -1px;
}
div.pub-button-private:active {
  background: url('sprites/public_selected.png') no-repeat;
  background-position: 0px -1px;
}
.edit-button-selected{ 
  background: url('sprites/edit_hover.png') no-repeat;
  background-position: -1px -1px;
}

#popup-container{
  
background-color:#202225;
padding:10px;
border-radius:10px;
  box-shadow:5px 5px 25px rgba(0,0,0,.7);
}