#search-options{
     /* background-color:palegoldenrod;  hah.. rod who doesnt like a dark rod*/
      width:100%; /* blind strippers? no no that makes no sense */
      max-height:40px;
      order: 1;
      display:flex;
      margin: 12px 0 7px 0;
    }
    li.search-sorting{
      color:#0C95F5;
      cursor:pointer;
      margin: 0 0 0 5px; text-align:center;min-width:50px;height:20px;
padding:5px 10px 5px 10px;border-radius:5px;
    }
    li.search-sorting:hover{
      color:white; 
      background-color:#495261;
      transition: all .2s ease;
    }
    li.search-sorting-selected{
      color:white; 
      background-color:#0C95F5; 
      cursor:pointer;
      margin: 0 0 0 5px; text-align:center;min-width:50px;height:20px;
padding:5px 10px 5px 10px;border-radius:5px;
    }
    ul.search-sorting{
      display: flex; list-style-type: none; width:100%;padding:0;margin:0;
    }
    .search-sorting > h4{
      margin: 5px 0 0 3px;
    }
    #NSFW-label{
         vertical-align:top;
    }
   
   .nsfw input[type=checkbox] {
	visibility: hidden;
}
.search-header{
  display:inline-block;
  vertical-align:bottom;
  width:100%;
}

/* Sliding Checkbox */
.nsfw {
	width: 25px;
	height: 4px;
	background: white;
	margin: 7px 0 0 5px;
  display:inline-block;
	border-radius: 3px;
	position: relative;
}
#meme-results{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
  order:10;
}
.nsfw label {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: -6px;
	left: -3px;
  
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: red;
}

.nsfw input[type=checkbox]:checked + label {
	left: 10px;
  background: green;
  
}
#memes-top-header{
  display:inline-block;
  
}
#memes-top-header h3{
  float:left;
}
#memes-top-header h4{
  
  float:left;
}
